# PHP Configuration
PHP_VERSION=8.1

# Database Configuration
DB_NAME=wordpress
DB_USER=wordpress
DB_PASSWORD=wordpress_pwd
DB_ROOT_PASSWORD=root_pwd

# Port Configuration
NGINX_PORT=8080
PMA_PORT=8081
